* {
    box-sizing: border-box;
    padding: 20px;
}
.myemail{
    width: 315px;
    height: 45px;
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 10px;
    position: absolute;
    left: 9px;
    top: 12px;
    

}
.myemail::placeholder{
    color: rgba(158, 158, 158, 1);
    
   

}

.mypassword{
    width: 467px;
    height: 45px;
    border: 1px solid 
    rgba(255, 0, 0, 1);
    border-radius: 15px;
    background-color: 
    rgba(97, 0, 0, 1);
    outline: none;
    color: rgba(240, 114, 114, 1);
    position:absolute;
    left: 9px;
    top: 66px;
    

}
.mypassword::placeholder{
    color:rgba(240, 114, 114, 1); 
   
    
}
.mynumber{
    width: 541px;
    height: 45px;
    border: 1px solid rgba(168, 171, 0, 1);
    border-radius: 5px;
    color: rgba(168, 171, 0, 1);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    left: 9px;
    top: 125px;
}
.mynumber::placeholder {
    color:rgba(168, 171, 0, 1); 
    
}
    
    .mytext{
    width: 315px;
    height: 45px;
    border: 2px solid rgba(249, 254, 3, 1);
    border-radius: 30px;
    background-color: 
    rgba(41, 40, 40, 1);
    color: 
    rgba(249, 254, 3, 1);
    position: absolute;
    left: 9px;
    top: 179px;

}
.mytext::placeholder{
    color: rgba(168, 171, 0, 1);

  
}

